html, body{
    max-width: 100%;
}
.background{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(img/john-looy-X3DZ1c7MPa4-unsplash.jpg);
    max-width: 100%;
}

.header{
    position: absolute;
    left: 5.24%;
    right: 5.3%;
    top: 8.22%;
    bottom: 77.02%;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
    border-radius: 2px;
}

.logo{
    position: absolute;
    left: 8.45%;
    right: 82.32%;
    top: 10.78%;
    bottom: 79.59%;
    width: 155px;
    height: 75px;
    background: url(img/LOGO-NE-EVA-2.jpg);
}
.menu{
    width: 100%;
    height: 115px;
}
.tab1,.tab2, .tab3, .tab4, .tab5, .tab6{
    position: absolute;
    top: 10.65%;
    bottom: 86.65%;
    width: 153px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #4E4E4E;
    max-width: 100%;

}

.tab1{
    left: 36.55%;
    right: 54.35%;

}

.tab2{
    left: 49.23%;
    right: 46.19%;
}

.tab3{
    left: 57.38%;
    right: 34.35%;
}

.tab4{
    left: 69.52%;
    right: 27.8%;
}

.tab5{
    left: 74.88%;
    right: 16.07%;
}

.tab6{
    left: 86.61%;
    right: 8.27%;
}

.twitter, .insta, .fb{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 66px;
    bottom: 19px;
    left: 1328px;
    background: #2871B7;
}

.twitter{
    left: 84.05%;
    right: 14.17%;
}

.insta{
    left: 86.9%;
    right: 11.31%;
}

.fb{
    left: 89.76%;
    right: 8.45%;
}

.bigTitle{
    position: absolute;
    left: 8.21%;
    right: 5.3%;
    top: 39.15%;
    bottom: 39.02%;
    height: 170px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: -0.015em;
    color: #2871B7;
}

.titleDesc{
    position: absolute;
    left: 8.21%;
    right: 51.85%;
    top: 61.62%;
    bottom: 27.73%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.015em;
    color: #292929;
}

.btn-discover{
    position: absolute;
    left: 120px;
    right: 1238px;
    top: 550px;
    width: 302px;
    height: 49px;
    background: #CD5A83;
    border-radius: 5px;
}

.btn-discover > span{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 22.45%;
    bottom: 28.57%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.title2{
    position: absolute;
    width: 633px;
    height: 49px;
    left: 120px;
    top: 920px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #292929;
}

.btn-list1, .btn-list2, .btn-list3, .btn-list4 , .btn-list5 {
    position: absolute;
    width: 688px;
    height: 60px;
    background: #D8F2FF;
    border-radius: 2px;
    max-width: 100%;
}

.btn-list1 > span, .btn-list2 > span, .btn-list3 > span, .btn-list4 > span, .btn-list5 > span{
    position: absolute;
    left: 35px;
    top: 30%;
    bottom: 30%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #292929;
}

.btn-list1{
    left: 120px;
    top: 1036px;
}

.btn-list2 {
    left: 840px;
    top: 1036px;
}

.btn-list3 {
    left: 120px;
    top: 1120px;
}

.btn-list4{
    left: 840px;
    top: 1120px;
}

.btn-list5{
    left: 120px;
    top: 1204px;
}

.line{
    position: absolute;
    left: 560px;
    right: 1.6%;
    top: 11px;
    bottom: 100%;
    opacity: 0.17;
    width: 59px;
    border: 1px solid #292929;
    transform: rotate(90deg);
}

.btn-more{
    position: absolute;
    left: 610px;
    right: 16.41%;
    top: 0px;
    bottom: 46.29%;
    width: 20px;
    height: 20px;
    color: #292929;
}

.title3{
    position: absolute;
    width: 1400px;
    height: 50px;
    left: 120px;
    top: 1461px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #313131;
}

.baby{
    position: absolute;
    width: 546px;
    height: 475px;
    left: 142px;
    top: 1600px;
    border-radius: 2px;
}

.img-explaination{
    position: absolute;
    width: 830px;
    height: 475px;
    left: 708px;
    top: 1600px;
    background: #F1F1F1;
    border-radius: 2px;

}

.img-explaination > h3{
    position: absolute;
    top: 95px;
    left: 121px;
    width:595px;
    height: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #292929;
}

.img-explaination > p{
    position: absolute;
    left: 121px;
    top: 163px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #292929;
    width: 585px;
    height: 266px;
}

.couple{
    position: absolute;
    width: 544px;
    height: 475px;
    left: 994px;
    top: 2095px;
    border-radius: 2px;
}
.blue-square{
    position: absolute;
    width: 830px;
    height: 475px;
    left: 142px;
    top: 2095px;
    background: #2871B7;
    border-radius: 2px;
    max-width:100%;
}

.blue-square > h3{
    position: absolute;
    width: 496px;
    height: 49px;
    left: 122px;
    top: 123px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.blue-square > p{
    position: absolute;
    width: 578px;
    height: 214px;
    left: 122px;
    top: 191px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.family{
    position: absolute;
    width: 546px;
    height: 475px;
    left: 142px;
    top: 2590px;
    border-radius: 2px;
}

.family-explaination{
    position: absolute;
    width: 830px;
    height: 475px;
    left: 708px;
    top: 2590px;
    background: #F1F1F1;
    border-radius: 2px;
    max-width:100%;
}

.family-explaination > h3{
    position: absolute;
    width: 546px;
    height: 49px;
    left: 119px;
    top: 67px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #292929;
}

.family-explaination > p{
    position: absolute;
    width: 581px;
    height: 266px;
    left: 119px;
    top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #292929;
}

.footer{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3300px;
    bottom: 4.92%;
    width: 1680px;
    height: 676px;
    background: #D8F2FF;
}